<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ServiceStack.Common" version="3.9.71" targetFramework="net46" />
  <package id="ServiceStack.Interfaces" version="4.0.46" targetFramework="net46" />
  <package id="ServiceStack.Redis" version="3.9.66" targetFramework="net46" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net46" />
</packages>